<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Here are your form results!</h1>
    <p>Name: @ViewBag.Name</p>
    <p>Location: @ViewBag.Location</p>
    <p>Your Fave Language: @ViewBag.Language</p>
    <p>Your Comment: @ViewBag.Comment</p>

    <a href="/">Back to form!</a>

</body>
</html>